RewriteEngine On
RewriteBase /validacion/

# Si es un archivo o directorio que existe, usarlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, redirigir al index.html
RewriteRule ^.*$ /validacion/index.html [L]

